*{
    padding: 0px;
}

header{
    text-align: left;
    padding: 12px;
    background-color: aqua;
}
.redsoc{
    width: 30px;
    float: right;
    padding-right: 100px;
    padding-bottom: 50px;
}

#banner{


}
#excursoes{


}

















@media screen {
    
}