*{
    padding: 0px;
}

header{
    text-align: left;
    padding: 5px;
    background-color: aqua;
    padding-left: 15px;
}    
.redsoc{
    text-align: center;
    width: 30px;
    float: right;
    padding-right: 100px;
    
}

#banner{


}
#excursoes{


}

















@media screen {
    
}